<div>
  <h2>New Celebrity</h2>
  <form action="/celebrities" method="post">
    <label for="name-field">Name:</label>
    <input type="text" name="name" id="name-field"><br>
    <label for="occupation-field">Occupation:</label>
    <input type="text" name="occupation" id="occupation-field"><br>
    <label for="catchphrase-field">Catchphrase:</label>
    <input type="text" name="catchphrase" id="catchphrase-field"><br>
    <button type="submit">Submit</button>
  </form>
</div>