<div>
  <form action="/movies" method="post">
  <label for="title-field">Title:</label>
  <input type="text" name="title" id="title-field">
  <label for="genre-field">Genre:</label>
  <input type="text" name="genre" id="genre-field">
  <label for="plot-field">Plot:</label>
  <input type="text" name="plot" id="plot-field">
  <button type="submit">Submit</button>
  </form>
</div>